<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanmay.androidsupport">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    /////////////////////////////////////// MAPS and LOCATION //////////////////////////////////////
    <permission
        android:name="com.tanmay.androidsupport.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    ////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////////////////////////// GCM //////////////////////////////////////////////
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    ////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////////////////// PHONE and CONTACTS ///////////////////////////////////////
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    ////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////////////////////// GOOGLE LOGIN /////////////////////////////////////////
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    ////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////////////////////// ACCESS GALLERY ///////////////////////////////////////
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    ////////////////////////////////////////////////////////////////////////////////////////////////
    <application
        android:name=".httpservice.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".gcm.GcmBroadcastReceiverOld"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tanmay.androidsupport.pushnotifications" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentServiceOld" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <activity
            android:name=".activities.SearchPlaces"
            android:configChanges="orientation|keyboardHidden"
            android:label="Search Places"
            android:parentActivityName=".activities.GoogleHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.GoogleHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_google_home"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DrawRoute"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_draw_route"
            android:parentActivityName=".activities.GoogleHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PhoneHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_phone_home"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AddContacts"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_add_contacts"
            android:parentActivityName=".activities.PhoneHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CopyToClipbpard"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_copy_to_clipbpard"
            android:parentActivityName=".activities.PhoneHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.HttpHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_http_home"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TabsAndViewPager"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_tabs_and_view_pager"
            android:parentActivityName=".activities.PhoneHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.OtherHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_flurry_analytics"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.FlurryAnalytics"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_flurry_analytics"
            android:parentActivityName=".activities.PhoneHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SocialHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="Social Home"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Facebook"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_facebook"
            android:parentActivityName=".activities.SocialHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Google"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_google"
            android:parentActivityName=".activities.SocialHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/title_activity_facebook" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="53ef6e274bd80efc6bb7121fa4248cfc2559e621" />

        <activity
            android:name=".activities.SpeedometerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_speedometer_view"
            android:parentActivityName=".activities.DesignHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DesignHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="Design Home"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.GoogleFit"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_google_fit"
            android:parentActivityName=".activities.GoogleHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CropImage"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_crop_image"
            android:parentActivityName=".activities.GoogleHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.android.camera.CropImage" />
        <activity
            android:name=".activities.ParallaxWithWebView"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_parallax_with_web_view"
            android:parentActivityName=".activities.DesignHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Signature"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_signature"
            android:parentActivityName=".activities.DesignHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CameraUpload"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_camera_upload"
            android:parentActivityName=".activities.PhoneHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ChatHome"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_chat_home"
            android:parentActivityName=".activities.PhoneHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.OtpInput"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_otp_input"
            android:parentActivityName=".activities.PhoneHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.StaggeredGrid"
            android:label="@string/title_activity_staggered_grid"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.LocationUpdate"
            android:label="@string/title_activity_location_update"
            android:theme="@style/AppTheme" />

        <service android:name=".services.LocationUpdateService" />

        <activity
            android:name=".activities.CustomDialogActivity"
            android:label="@string/title_activity_custom_dialog"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SQLiteDatabase"
            android:label="@string/title_activity_sqlite_database"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.YouTubeActivity"
            android:label="@string/title_activity_you_tube"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>